
---
- name: Deploying application into EKS cluster
  hosts: appserver
  gather_facts: yes
  become: true

  tasks:

    - name: copy k8s deployment files to app server
      copy:
        src: "{{ playbook_dir }}/k8s_deployment.yaml"
        dest: /home/ec2-user/k8s_deployment.yaml
        mode: '0644'

    - name: check if kubeconfig exists on remote host
      stat:
        path: /home/ec2-user/.kube/config
      register: kubeconfig_stat

    - name: copy kubeconfig to target if missing
      copy: 
        src: "{{ playbook_dir }}/kubeconfig"
        dest: /home/ec2-user/.kube/config
        mode: '0600'
        owner: ec2-user
      when: not kubeconfig_stat.stat.exists
    
    - name: Apply k8s deployment
      command: kubectl apply -f /home/ec2-user/k8s_deployment.yaml
      environment:
        KUBECONFIG: /home/ec2-user/.kube/config